#std ignores
*~
.project
.cproject

# ignore databases for images
datasets

#ignore jupyter notebook checkpoints
tutorials/.ipynb_checkpoints

#ignore models
models/*
!models/download_models.py

#ignore idea files
.idea/*

#ignore pycache files
__pycache__
.pyc


#ignore build files
build
devel
